body {
  margin: 5px;
  padding: 0;
  background-color: lavender;
  font-size: 14px;
  font-family: 'Lucida Calligraphy';
  font-weight: 700;
}

nav {
  position: fixed;
  background-color: rgb(85, 54, 113);
  overflow: hidden;
  height: 90px;
  margin-bottom: 20px;
  width: 100%;
  z-index: 1000;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.containers {
  margin-left: 10px; /* Adjust for mobile view */
  margin-right: 10px; /* Adjust for mobile view */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.container {
  cursor: pointer;
  margin: 10px; /* Adjust for mobile view */
  padding: 10px; /* Adjust for mobile view */
  width: calc(100% - 20px); /* Adjust for mobile view */
  border: 2px solid rgb(72, 39, 103);
  border-radius: 12px;
  background-color: rgba(254, 254, 227, 0.273);
  transition: transform 0.2s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgb(76, 73, 73);
}

/* Add media query for mobile view */
@media (max-width: 768px) {
  .containers {
      margin-left: 0;
      margin-right: 0;
  }

  .container {
      width: calc(100% - 20px);
      margin: 10px;
      padding: 10px;
  }
}

/* Add more media queries for other elements as needed */
